# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
.venv/
ENV/

# PyInstaller build
build/
dist/
*.spec

# IDE and editor configs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Logs and runtime
*.log
*.out
*.err
*.pid
*.db-journal

# Test & coverage
.cache/
.tox/
.nox/
coverage.xml
*.cover
*.py,cover
.coverage
.coverage.*
.pytest_cache/
.hypothesis/
htmlcov/

# Jupyter
.ipynb_checkpoints/

# OS / Mac
.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini
Icon?

# Custom config & secrets
.env
.env.*
config.json

# Fonts folder - ignore contents but keep folder
fonts/*
!fonts/.gitkeep

# Optional resources folder
resources/*
vocabulary/*


# Other temp / backup
*.tmp
*.bak
*.old
*.swp
*.swo
*.orig
pip-log.txt
pip-delete-this-directory.txt
